<h1><%= @Artist.id ? 'Edit artist' : 'Create Artist' %> </h1>

<%= form_for @artist do |f| %>
  # form helper for rails
  <%= f.label :name %>
  <%= f.text_field :name, required: true %>
  # does front-end validation
  
  <%= f.submit %>
<% end %>