<h1><%= @artist.name %>: <%= @song.name %></h1>
<%= link_to 'Edit Song', edit_artist_song_path([@artist, @song]) %>
<br/>
<%= link_to 'Delete Song', [@artist, @song], method: :delete %>
<br/>
<%= link_to 'Back to Artists', rank_artists_path(@rank) %>