<h1><%= @rank.name %></h1>
<hr />
<p>What would you like to do?</p>
<%= link_to 'View all Ranks', ranks_path %>
<br />
<%= link_to 'View Artists', rank_artists_path(@rank) %>
<br />
<%= link_to 'Edit Rank', edit_rank_path(@rank) %>
<br />
<%= link_to 'Delete Rank', @rank, method: :delete %>